@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html{
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.log-background{
    width: 350px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(23, 16, 87, 0.13);
    border-radius: 12px;
}
.log-background .header{
    font-size: 25px;
    text-align: center;
    font-family: 'Merriweather',sans-serif;
    padding: 3rem 2rem 1rem 2rem;
    color: #171645;
}

.form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control input{
    width: 260px;
    padding: 0.8rem;
    border: 1px solid #DADAF2;
    outline: none;
    background-color: #F8F8FB;
    border-radius: 4px;
    margin: 4px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.form-control input::placeholder{
    font-weight: 500px;
    color: #171645;
    font-size: 12px;
    opacity: 0.5;
}
.form-control .btn{
    width: 260px;
    padding: 0.8rem;
    outline: none;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    background-color:#171645 ;
    color: #fff;
    border-radius: 4px;
    margin: 4px;
    font-weight: 500;
    line-height: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 500ms all ease-in-out;
}
.form-control .btn:hover{
    transition: 500ms all ease-in-out;
    background-color: #2e2cb1;
}

.wrapper{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    padding: 0.8rem;
    color: #171645;
    opacity: 0.5;
}

.btn-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}



.google-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    background-color: #F8F8FB;
    border: 1px solid #DADAF2;
    padding: 0.8rem;
    border-radius: 4px;
    margin: 4px;
    transition: 300ms all;

}

.google-link a{
    text-decoration: none;
    font-size: 12px;
    color: #1d1d1d;
}
.google-link img{
    width: 20px;
    height: 20px;
    padding: 0 5px 0 0;
}

.microsoft-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    background-color: #F8F8FB;
    border: 1px solid #DADAF2;
    padding: 0.8rem;
    border-radius: 4px;
    margin: 4px;

}
.microsoft-link a{
    text-decoration: none;
    font-size: 12px;
    color: #1d1d1d;
}
.microsoft-link img{
    width: 22px;
    height: 22px;
    padding: 0 5px 0 0;
}

.apple-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    background-color: #F8F8FB;
    border: 1px solid #DADAF2;
    padding: 0.8rem;
    border-radius: 4px;
    margin: 4px;

}
.apple-link a{
    text-decoration: none;
    font-size: 12px;
    color: #1d1d1d;
}
.apple-link img{
    width: 20px;
    height: 20px;
    padding: 0 5px 0 0;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #171645;
    margin: 1rem;
    padding: 1rem;
}
.footer a{
    color: #1d1d1d;
    text-decoration: none;
    font-size: 12px;
}
.footer a:hover{
    text-decoration: underline;
}